Kobi Mazuz 206239568
Dolev Nahmias 207330176

In [1]:
import pandas as pd
import numpy as np

סעיף א' - לפתוח את קובץ החיסונים ולהציג את חמשת השורות הראשונות

In [2]:
url = 'https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/vaccinations/vaccinations.csv'
vacc_df = pd.read_csv(url)
vacc_df.head()

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0

סעיף ב' - מציאת מדינה המתחילה באות הראשונה של השם של דולב - נבחרה המדינה דנמרק

In [3]:
vacc_df[vacc_df['location'].str.contains('D')]

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
2283,Denmark,DNK,2020-12-27,6420.0,6420.0,NaN,NaN,NaN,0.11,0.11,NaN,NaN
2284,Denmark,DNK,2020-12-28,8409.0,8409.0,NaN,1989.0,1989.0,0.15,0.15,NaN,343.0
2285,Denmark,DNK,2020-12-29,17277.0,17277.0,NaN,8868.0,5428.0,0.30,0.30,NaN,937.0
2286,Denmark,DNK,2020-12-30,28650.0,28650.0,NaN,11373.0,7410.0,0.49,0.49,NaN,1279.0
2287,Denmark,DNK,2020-12-31,34754.0,34754.0,NaN,6104.0,7084.0,0.60,0.60,NaN,1223.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2435,Dominican Republic,DOM,2021-03-19,NaN,NaN,NaN,NaN,16321.0,NaN,NaN,NaN,1505.0
2436,Dominican Republic,DOM,2021-03-20,NaN,NaN,NaN,NaN,16089.0,NaN,NaN,NaN,1483.0
2437,Dominican Republic,DOM,2021-03-21,NaN,NaN,NaN,NaN,15857.0,NaN,NaN,NaN,1462.0
2438,Dominican Republic,DOM,2021-03-22,NaN,NaN,NaN,NaN,15625.0,NaN,NaN,NaN,1440.0
2439,Dominican Republic,DOM,2021-03-23,800000.0,800000.0,NaN,NaN,15625.0,7.37,7.37,NaN,1440.0

סעיף ג' - מציאת כמות הרשומות(שורות) עבור המדינה שנבחרה - דנמרק

In [4]:
Denmark = vacc_df.loc[(vacc_df.location == 'Denmark')]
len(Denmark)

91

סעיף ד' - מציאת התאריך שבו התחסנו הכי הרבה אנשים במדינה שבחרנו

In [5]:
max_daily_vacc = Denmark.daily_vaccinations.max()
max_index = Denmark.index[Denmark.daily_vaccinations == max_daily_vacc]
Denmark.at[max_index.values[0], 'date']

'2021-03-10'

סעיף ה' - הצגת שלושת השורות הראשונות של המדינה שבחרנו עם עמודות המדינה, התאריך ומספר המתחסנים היומי בלבד (גודל שלוש על שלוש)

In [6]:
first_three = Denmark.iloc[0:3]
first_three[['location' , 'date' , 'daily_vaccinations_raw']]

     location        date  daily_vaccinations_raw
2283  Denmark  2020-12-27                     NaN
2284  Denmark  2020-12-28                  1989.0
2285  Denmark  2020-12-29                  8868.0

סעיף ו' חלק 1 - שתי השורות האלו נועדו לוודא לי שני דברים - גם שיש רק ערך אחד חסר וגם שהוא הראשון. ז"א ברגע ש"אנקה" אותו אוכל לעבוד על הדאטה פריים

In [7]:
Denmark_vacc_daily = Denmark['daily_vaccinations']
Denmark_vacc_daily.isnull()
Denmark_vacc_daily.isnull().sum()

1

סעיף ו' חלק 2 - מספר המתחסנים הממוצע ליום במדינה שבחרנו החל מהיום בו החלו לחסן

In [8]:
Denmark_vacc_daily.dropna()
Denmark_vacc_daily.mean()

11206.522222222222

סעיף ז' - הצגת המדינה שבחרנו ללא ימים בהם אין ערכים עבור העמודה people_vaccinated_per_hundred

In [9]:
Denmark.dropna(subset=['people_vaccinated_per_hundred'])

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
2283,Denmark,DNK,2020-12-27,6420.0,6420.0,NaN,NaN,NaN,0.11,0.11,NaN,NaN
2284,Denmark,DNK,2020-12-28,8409.0,8409.0,NaN,1989.0,1989.0,0.15,0.15,NaN,343.0
2285,Denmark,DNK,2020-12-29,17277.0,17277.0,NaN,8868.0,5428.0,0.30,0.30,NaN,937.0
2286,Denmark,DNK,2020-12-30,28650.0,28650.0,NaN,11373.0,7410.0,0.49,0.49,NaN,1279.0
2287,Denmark,DNK,2020-12-31,34754.0,34754.0,NaN,6104.0,7084.0,0.60,0.60,NaN,1223.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2369,Denmark,DNK,2021-03-23,978938.0,647131.0,331807.0,13755.0,14934.0,16.90,11.17,5.73,2578.0
2370,Denmark,DNK,2021-03-24,1002326.0,657000.0,345326.0,23388.0,15422.0,17.30,11.34,5.96,2663.0
2371,Denmark,DNK,2021-03-25,1018452.0,664676.0,353776.0,16126.0,14600.0,17.58,11.48,6.11,2521.0
2372,Denmark,DNK,2021-03-26,1032493.0,670825.0,361668.0,14041.0,13808.0,17.83,11.58,6.24,2384.0
2373,Denmark,DNK,2021-03-27,1045626.0,680828.0,364798.0,13133.0,14568.0,18.05,11.75,6.30,2515.0

סעיף ח' - מספר המתחסנים הממוצע ל100 אנשים במדינה שבחרנו (להוריד ימים בהם אין נתונים לפני החישוב)
מהסעיף הקודם רואים שאין שורות בהן אין ערך לעמודה people_vaccinated_per_hundred

In [10]:
import statistics
Denmark_people_vaccinated_per_hundred = Denmark['people_vaccinated_per_hundred']
statistics.harmonic_mean(Denmark_people_vaccinated_per_hundred)

1.895057514931585

סעיף ט' - מה גדול יותר הממוצע או החציון של העמודה daily_vaccinations
מהנתונים הגיוני שהממוצע יהיה גדול יותר מאשר החציון בגלל שמספר המתחסנים גדל בצורה משמעותית והממוצע החשבוני מושפע מזה יותר מאשר החציון
נוכיח את הטענה :

In [11]:
print("the mean of daily_vaccination collum is " + str(Denmark['daily_vaccinations'].mean()))
print("the median of daily_vaccination collum is " + str(Denmark['daily_vaccinations'].median()))

the mean of daily_vaccination collum is 11206.522222222222
the median of daily_vaccination collum is 10605.5

רואים שהממוצע החשבוני גדול יותר מהחציון